---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 67890abcde
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImVmNmJjMDQ5OGFmZmEyYjJiZTcxM2NkZDVhNGRhMTVmIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/12345/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/4yUB4NqSC04S2ip2MeoB2R"
            },
            "href" : "https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R",
            "id" : "4yUB4NqSC04S2ip2MeoB2R",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/f4df5c3409bb23c7170639a0132849c600594e24",
              "width" : 640
            } ],
            "name" : "FastTracks",
            "owner" : {
              "display_name" : "12345",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/12345"
              },
              "href" : "https://api.spotify.com/v1/users/12345",
              "id" : "12345",
              "type" : "user",
              "uri" : "spotify:user:12345"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "MixjM2JiZjVmYjZjOWNkYmRkYTYyNzQ3NjYzNThlZWIyMmUxYmE3YzE5",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R/tracks",
              "total" : 1
            },
            "type" : "playlist",
            "uri" : "spotify:playlist:4yUB4NqSC04S2ip2MeoB2R"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/1HmizFh5L9NsHfEEltlPzq"
            },
            "href" : "https://api.spotify.com/v1/playlists/1HmizFh5L9NsHfEEltlPzq",
            "id" : "1HmizFh5L9NsHfEEltlPzq",
            "images" : [ {
              "height" : 640,
              "ur[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 67890abcde
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "MywzYmRiZTBiZjE5ZjJhY2MwMThlNjg3MDBkY2ZkOGQyMDM4NTBhZGUz"
        }
  recorded_at: Fri, 26 Jul 2019 17:17:19 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"Why Am I So Happy?","album_art_url":"https://i.scdn.co/image/53c3e0fdf88c4c7c196295048955f2f158904e60","artist":"Spose","length":226839,"spotify_id":"7BeO0lA38jRYZA1BGLtHPh","spotify_url":"https://open.spotify.com/track/7BeO0lA38jRYZA1BGLtHPh","title":"Greatest
        Shit Ever"},{"album":"Oasis","album_art_url":"https://i.scdn.co/image/4cac3d60c37902ad57531f006fcb2b43c4299a04","artist":"Crush","length":191278,"spotify_id":"4sa8O4AwMja6r1Enu35Fmz","spotify_url":"https://open.spotify.com/track/4sa8O4AwMja6r1Enu35Fmz","title":"Oasis"},{"album":"H.A.L.F
        (Have.A.Little.Fun)","album_art_url":"https://i.scdn.co/image/0ffe78e521c2f8cefb2c5e20cc50bfce18d112e4","artist":"Sik-K","length":216113,"spotify_id":"1ihIXI2MVklmJdPvIUxExZ","spotify_url":"https://open.spotify.com/track/1ihIXI2MVklmJdPvIUxExZ","title":"party
        (Shut Down) [feat. Crush]"},{"album":"Run The Jewels 3","album_art_url":"https://i.scdn.co/image/a03a3687c887f99ee403877705bbacad66227408","artist":"Run
        The Jewels","length":216586,"spotify_id":"69bN6t4hvTsPn9zzByE9fd","spotify_url":"https://open.spotify.com/track/69bN6t4hvTsPn9zzByE9fd","title":"Oh
        Mama"},{"album":"Head In The Clouds","album_art_url":"https://i.scdn.co/image/458dd53f9b7eababd7fa771869ab5fe1255746ab","artist":"88rising","length":192606,"spotify_id":"3iGz75NJkqHubYUMRELLyP","spotify_url":"https://open.spotify.com/track/3iGz75NJkqHubYUMRELLyP","title":"La
        Cienega"}]

'
  recorded_at: Fri, 26 Jul 2019 17:17:20 GMT
recorded_with: VCR 5.0.0
