---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 67890abcde
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImEwZTM5YTNjNWY3OTI5MGRkNjZlNmMwOTQ4MmFkYWFhIg=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/12345/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/4yUB4NqSC04S2ip2MeoB2R"
            },
            "href" : "https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R",
            "id" : "4yUB4NqSC04S2ip2MeoB2R",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/f4df5c3409bb23c7170639a0132849c600594e24",
              "width" : 640
            } ],
            "name" : "FastTracks",
            "owner" : {
              "display_name" : "12345",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/12345"
              },
              "href" : "https://api.spotify.com/v1/users/12345",
              "id" : "12345",
              "type" : "user",
              "uri" : "spotify:user:12345"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "MywzYmRiZTBiZjE5ZjJhY2MwMThlNjg3MDBkY2ZkOGQyMDM4NTBhZGUz",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R/tracks",
              "total" : 2
            },
            "type" : "playlist",
            "uri" : "spotify:playlist:4yUB4NqSC04S2ip2MeoB2R"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/1HmizFh5L9NsHfEEltlPzq"
            },
            "href" : "https://api.spotify.com/v1/playlists/1HmizFh5L9NsHfEEltlPzq",
            "id" : "1HmizFh5L9NsHfEEltlPzq",
            "images" : [ {
              "height" : 640,
              "ur[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/4yUB4NqSC04S2ip2MeoB2R/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR,spotify:track:5DhuSnYKmoHrzfEtLsQHwQ,spotify:track:19mIwfp2xMC7XSxOZi9o0W,spotify:track:1l2Cw5xbQZGsLUg1TJWUBu,spotify:track:1lk5lsz89OCNyh1gCLZSxB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 67890abcde
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "NCwwZjAzNDUzMGU4MzhkMjFjYjExNjg5ZWZjM2JlZGFhYWRmMGYyODVi"
        }
  recorded_at: Fri, 26 Jul 2019 17:17:20 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"Duality","album_art_url":"https://i.scdn.co/image/fbcd0d42b9ab2e73b9b547b4ba995fbf1d5325f9","artist":"Set
        It Off","length":172813,"spotify_id":"4JxkeslKwbebhWIt1R50od","spotify_url":"https://open.spotify.com/track/4JxkeslKwbebhWIt1R50od","title":"The
        Haunting"},{"album":"Perfect","album_art_url":"https://i.scdn.co/image/fd9b5a6d4e392424af0047e9ff5fb762a30bbb1a","artist":"pH-1","length":198374,"spotify_id":"7Coi8O3oswmsoXkfYtT7GE","spotify_url":"https://open.spotify.com/track/7Coi8O3oswmsoXkfYtT7GE","title":"Perfect"},{"album":"Under
        the Covers, Vol. II","album_art_url":"https://i.scdn.co/image/8927fb066a644cbda48207c84c0703b4ecbc3e8d","artist":"Ninja
        Sex Party","length":281845,"spotify_id":"5IHEdF6MgXf40QE3RDHtzt","spotify_url":"https://open.spotify.com/track/5IHEdF6MgXf40QE3RDHtzt","title":"Africa"},{"album":"130
        Mood : TRBL","album_art_url":"https://i.scdn.co/image/65f910d60accc2b7009408b27138f7c518825ba4","artist":"DEAN","length":224098,"spotify_id":"6GS3lnAVy5w6AHWEKYzYeS","spotify_url":"https://open.spotify.com/track/6GS3lnAVy5w6AHWEKYzYeS","title":"What
        2 Do"},{"album":"Good & Evil","album_art_url":"https://i.scdn.co/image/7fbdc30285a8610d7d590a829851aee62a8c4c93","artist":"Tally
        Hall","length":176626,"spotify_id":"3xpdefOloYCBXd3UR6MVyM","spotify_url":"https://open.spotify.com/track/3xpdefOloYCBXd3UR6MVyM","title":"Turn
        the Lights Off"}]

'
  recorded_at: Fri, 26 Jul 2019 17:17:21 GMT
recorded_with: VCR 5.0.0
