---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/billyiii/playlists
    body:
      encoding: UTF-8
      string: '{"name":"New Jams", "public":true}'
    headers:
      Authorization:
      - Bearer 12345
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/23NqHm1gPXLncjx2v19mpI
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/23NqHm1gPXLncjx2v19mpI"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/23NqHm1gPXLncjx2v19mpI",
          "id" : "23NqHm1gPXLncjx2v19mpI",
          "images" : [ ],
          "name" : "New Jams",
          "owner" : {
            "display_name" : "<SPOTIFY_UID>",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/<SPOTIFY_UID>"
            },
            "href" : "https://api.spotify.com/v1/users/<SPOTIFY_UID>",
            "id" : "<SPOTIFY_UID>",
            "type" : "user",
            "uri" : "spotify:user:<SPOTIFY_UID>"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSwwYmFhYTg1ODZmYjdkYTEyMzhiMGY2YzZjNGY2MDNhMGFkNWRlNzMz",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/23NqHm1gPXLncjx2v19mpI/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:23NqHm1gPXLncjx2v19mpI"
        }
  recorded_at: Tue, 23 Jul 2019 19:45:29 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/23NqHm1gPXLncjx2v19mpI/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR,spotify:track:5DhuSnYKmoHrzfEtLsQHwQ,spotify:track:19mIwfp2xMC7XSxOZi9o0W,spotify:track:1l2Cw5xbQZGsLUg1TJWUBu,spotify:track:1lk5lsz89OCNyh1gCLZSxB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "MiwwMDhhMmJjYTFjOWE1NDI0ZWViZmI0YmEyNjk4Y2JmZTBjZTY1ZGYz"
        }
  recorded_at: Tue, 23 Jul 2019 19:45:29 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"The Audacity! (Deluxe Edition)","album_art_url":"https://i.scdn.co/image/4d8b2db520551f2a801ae593b2eb3dcc77bd7272","artist":"Spose","length":275613,"spotify_id":"5uEdbvfhqIEJLzX5hCPVNO","spotify_url":"https://open.spotify.com/track/5uEdbvfhqIEJLzX5hCPVNO","title":"Gee
        Willikers"},{"album":"Camp (Deluxe Version)","album_art_url":"https://i.scdn.co/image/77eb7c17cafe55037b5a7d34679c7d84af9736f3","artist":"Childish
        Gambino","length":195186,"spotify_id":"5H6kQRRmrd5C7Pn4khGl3e","spotify_url":"https://open.spotify.com/track/5H6kQRRmrd5C7Pn4khGl3e","title":"Bonfire"},{"album":"Cardboard
        Castles","album_art_url":"https://i.scdn.co/image/9c5b8eb076bd7eba8f00e8a1f9ef18a99126ff3e","artist":"Watsky","length":175213,"spotify_id":"0LiK2PLz6KdlASVz057dXM","spotify_url":"https://open.spotify.com/track/0LiK2PLz6KdlASVz057dXM","title":"Ugly
        Faces"},{"album":"Old Boy Jon","album_art_url":"https://i.scdn.co/image/41f7ea019f9be9e963a2c12352e16c6656c25daf","artist":"Dumbfoundead","length":182573,"spotify_id":"4eyHT04G33u8OmB49w8dYj","spotify_url":"https://open.spotify.com/track/4eyHT04G33u8OmB49w8dYj","title":"Ganghis
        Khan"},{"album":"Wu","album_art_url":"https://i.scdn.co/image/62dd979d3612cfca54ee715f60b53669ea9225ea","artist":"Nafla","length":165385,"spotify_id":"0PcSv8bwpVvgGDMNSQW2ZU","spotify_url":"https://open.spotify.com/track/0PcSv8bwpVvgGDMNSQW2ZU","title":"Wu"}]

'
  recorded_at: Tue, 23 Jul 2019 19:45:29 GMT
recorded_with: VCR 5.0.0
