---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/123456/playlists
    body:
      encoding: UTF-8
      string: '{"name":"New Jams", "public":true}'
    headers:
      Authorization:
      - Bearer 123456abcde
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/3yNGMCr1XusmizkMqqoj38
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3yNGMCr1XusmizkMqqoj38"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3yNGMCr1XusmizkMqqoj38",
          "id" : "3yNGMCr1XusmizkMqqoj38",
          "images" : [ ],
          "name" : "New Jams",
          "owner" : {
            "display_name" : "<SPOTIFY_UID>",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/<SPOTIFY_UID>"
            },
            "href" : "https://api.spotify.com/v1/users/<SPOTIFY_UID>",
            "id" : "<SPOTIFY_UID>",
            "type" : "user",
            "uri" : "spotify:user:<SPOTIFY_UID>"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSxmYTc3NWRjODI4NzVjZDQ3OWVhZWM5ZGRmMzk0NzlmNmNjODcxZjI4",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3yNGMCr1XusmizkMqqoj38/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:3yNGMCr1XusmizkMqqoj38"
        }
  recorded_at: Tue, 23 Jul 2019 21:52:47 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/3yNGMCr1XusmizkMqqoj38/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR,spotify:track:5DhuSnYKmoHrzfEtLsQHwQ,spotify:track:19mIwfp2xMC7XSxOZi9o0W,spotify:track:1l2Cw5xbQZGsLUg1TJWUBu,spotify:track:1lk5lsz89OCNyh1gCLZSxB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 123456abcde
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "MiwyNjVjNWMxYmQxNzNmMzkxZDZkZDdjMzIzM2NhODcxNjk0YjBjNDYw"
        }
  recorded_at: Tue, 23 Jul 2019 21:52:47 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"Jarvage, Vol. 1","album_art_url":"https://i.scdn.co/image/ab0abf5abc1b030b0349fb5b244422a2284f915a","artist":"Jarv","length":194500,"spotify_id":"1H0utYmwbHj2qwWMMbOuzm","spotify_url":"https://open.spotify.com/track/1H0utYmwbHj2qwWMMbOuzm","title":"Escargot"},{"album":"Knew
        School","album_art_url":"https://i.scdn.co/image/12dd1280266c92be26e8eb11d54485c4293b2a73","artist":"Knowmads","length":223000,"spotify_id":"1Nig8tnYHCBaBz7FPIR763","spotify_url":"https://open.spotify.com/track/1Nig8tnYHCBaBz7FPIR763","title":"Smoker''s
        Corner"},{"album":"20","album_art_url":"https://i.scdn.co/image/409a3bad6bfbd00b1b56375c7b2fefd66b82fd23","artist":"HYUKOH","length":194866,"spotify_id":"5NnNl71fwVkuB1M45CXvdb","spotify_url":"https://open.spotify.com/track/5NnNl71fwVkuB1M45CXvdb","title":"Wi
        Ing Wi Ing \uc704\uc789\uc704\uc789"},{"album":"Genesis","album_art_url":"https://i.scdn.co/image/a9d5c67f4035c93aa0b80797424b8894b663c0f9","artist":"Domo
        Genesis","length":174133,"spotify_id":"7KoX0myQwA6dc6yCX8R1wS","spotify_url":"https://open.spotify.com/track/7KoX0myQwA6dc6yCX8R1wS","title":"Wanderer"},{"album":"Dawn
        of us","album_art_url":"https://i.scdn.co/image/1b34599a866419a250f221a5e660ba206d69a795","artist":"Jackson
        Wang","length":179833,"spotify_id":"2NpKyrIlJOHszUS2cXpEMU","spotify_url":"https://open.spotify.com/track/2NpKyrIlJOHszUS2cXpEMU","title":"Dawn
        of us"}]

'
  recorded_at: Tue, 23 Jul 2019 21:52:47 GMT
recorded_with: VCR 5.0.0
