---
http_interactions:
- request:
    method: post
    uri: https://api.spotify.com/v1/users/playlists
    body:
      encoding: UTF-8
      string: '{"name":"New Jams", "public":true}'
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_token", error_description="The access
        token expired"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 401,
            "message": "The access token expired"
          }
        }
  recorded_at: Tue, 23 Jul 2019 20:50:18 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR,spotify:track:5DhuSnYKmoHrzfEtLsQHwQ,spotify:track:19mIwfp2xMC7XSxOZi9o0W,spotify:track:1l2Cw5xbQZGsLUg1TJWUBu,spotify:track:1lk5lsz89OCNyh1gCLZSxB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_TEST_TOKEN>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_token", error_description="The access
        token expired"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 401,
            "message": "The access token expired"
          }
        }
  recorded_at: Tue, 23 Jul 2019 20:50:18 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"Oil in Water","album_art_url":"https://i.scdn.co/image/60f46e0d7cf77c2c57173d33ff575a16dbfd0112","artist":"I
        The Mighty","length":192246,"spotify_id":"691n7jfrp9qU7HjOELnyAT","spotify_url":"https://open.spotify.com/track/691n7jfrp9qU7HjOELnyAT","title":"The
        Hound and the Fox"},{"album":"Shia LaBeouf Live","album_art_url":"https://i.scdn.co/image/a1d14aa8e0cb0feaf6450f475d7c07ff0a07e69c","artist":"Rob
        Cantor","length":155000,"spotify_id":"3VMzQ4rh7FtfSuyjHIcuZR","spotify_url":"https://open.spotify.com/track/3VMzQ4rh7FtfSuyjHIcuZR","title":"Shia
        LaBeouf Live"},{"album":"Intuition & Equalibrum","album_art_url":"https://i.scdn.co/image/4c1b635586ca089a20b991b8569c4c618541ec21","artist":"Intuition
        & Equalibrum","length":256148,"spotify_id":"6qJwbo4X8T6KVMsFobmhaI","spotify_url":"https://open.spotify.com/track/6qJwbo4X8T6KVMsFobmhaI","title":"Weight
        Is Gone"},{"album":"Eclipse","album_art_url":"https://i.scdn.co/image/035ff9d5810f06d9c1a102ff6a712eb0ccaf340c","artist":"EXID","length":198414,"spotify_id":"3ekdsWPG0ZtVrvEUPe2Djv","spotify_url":"https://open.spotify.com/track/3ekdsWPG0ZtVrvEUPe2Djv","title":"Night
        Rather Than Day"},{"album":"LIME","album_art_url":"https://i.scdn.co/image/ad967119c1710d9be5e1d678f3274c681007ca92","artist":"punchnello","length":162142,"spotify_id":"0XE09AKy3RsRHjEhdlyjjq","spotify_url":"https://open.spotify.com/track/0XE09AKy3RsRHjEhdlyjjq","title":"LIME"}]

'
  recorded_at: Tue, 23 Jul 2019 20:50:18 GMT
recorded_with: VCR 5.0.0
