---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/users/123456/playlists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 123456abcde
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImE3MzcyZDcwYmVlNDg3ZmRhZWFiMjUyYmQ2YmQ5Zjk0Ig=="'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/users/123456/playlists?offset=0&limit=20",
          "items" : [ {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/1kFqAJiFZWyNHjSRvR2Ttv"
            },
            "href" : "https://api.spotify.com/v1/playlists/1kFqAJiFZWyNHjSRvR2Ttv",
            "id" : "1kFqAJiFZWyNHjSRvR2Ttv",
            "images" : [ {
              "height" : 640,
              "url" : "https://mosaic.scdn.co/640/39fca28aa61a5266a4f1038367bcc35a545e7031594bb6fda34f07fe96da938135478baa8727889d9bc1f380c180ebee2339cbdcef864816aa8af232e20bed05bb268bf50f5be4c19ef245cc6131826c",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://mosaic.scdn.co/300/39fca28aa61a5266a4f1038367bcc35a545e7031594bb6fda34f07fe96da938135478baa8727889d9bc1f380c180ebee2339cbdcef864816aa8af232e20bed05bb268bf50f5be4c19ef245cc6131826c",
              "width" : 300
            }, {
              "height" : 60,
              "url" : "https://mosaic.scdn.co/60/39fca28aa61a5266a4f1038367bcc35a545e7031594bb6fda34f07fe96da938135478baa8727889d9bc1f380c180ebee2339cbdcef864816aa8af232e20bed05bb268bf50f5be4c19ef245cc6131826c",
              "width" : 60
            } ],
            "name" : "EXO",
            "owner" : {
              "display_name" : "123456",
              "external_urls" : {
                "spotify" : "https://open.spotify.com/user/123456"
              },
              "href" : "https://api.spotify.com/v1/users/123456",
              "id" : "123456",
              "type" : "user",
              "uri" : "spotify:user:123456"
            },
            "primary_color" : null,
            "public" : true,
            "snapshot_id" : "MTYsZGJjZTE4ZTRkM2VlOTQ4OTEzNDJiZWE0ZWY3OWQ2OWMzNzk3YmZlYQ==",
            "tracks" : {
              "href" : "https://api.spotify.com/v1/playlists/1kFqAJiFZWyNHjSRvR2Ttv/tracks",
              "total" : 15
            },
            "type" : "playlist",
            "uri" : "spotify:playlist:1kFqAJiFZWyNHjSRvR2Ttv"
          }, {
            "collaborative" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/playlist/09pAygmvlzxNqBKWuvTnpZ"
            },
            "href" : "https://api.spotify.com/v1/playlists/09pAygmvlzxNqBKWuvTnpZ",
            "id" : "09pAygmvlzxNqBKWuvTnpZ",
            "images" : [ ],
            "name" : "New Playlist",
        [...]
[...]
- request:
    method: post
    uri: https://api.spotify.com/v1/users/123456/playlists
    body:
      encoding: UTF-8
      string: '{"name":"New Jams", "public":true}'
    headers:
      Authorization:
      - Bearer 123456abcde
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.spotify.com/v1/playlists/3SoSEsRP1gXJUKWA6wsZQ2
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "collaborative" : false,
          "description" : null,
          "external_urls" : {
            "spotify" : "https://open.spotify.com/playlist/3SoSEsRP1gXJUKWA6wsZQ2"
          },
          "followers" : {
            "href" : null,
            "total" : 0
          },
          "href" : "https://api.spotify.com/v1/playlists/3SoSEsRP1gXJUKWA6wsZQ2",
          "id" : "3SoSEsRP1gXJUKWA6wsZQ2",
          "images" : [ ],
          "name" : "New Jams",
          "owner" : {
            "display_name" : "123456",
            "external_urls" : {
              "spotify" : "https://open.spotify.com/user/123456"
            },
            "href" : "https://api.spotify.com/v1/users/123456",
            "id" : "123456",
            "type" : "user",
            "uri" : "spotify:user:123456"
          },
          "primary_color" : null,
          "public" : true,
          "snapshot_id" : "MSwzZTU4OTU4MzNhNDhlYzcxNzA0YWMxNDRmODM0MmNkMWM2NzQyMTMw",
          "tracks" : {
            "href" : "https://api.spotify.com/v1/playlists/3SoSEsRP1gXJUKWA6wsZQ2/tracks",
            "items" : [ ],
            "limit" : 100,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          },
          "type" : "playlist",
          "uri" : "spotify:playlist:3SoSEsRP1gXJUKWA6wsZQ2"
        }
  recorded_at: Wed, 24 Jul 2019 17:52:06 GMT
- request:
    method: post
    uri: https://api.spotify.com/v1/playlists/3SoSEsRP1gXJUKWA6wsZQ2/tracks?uris=spotify:track:6kbCH9kQoNzaEt1R1rizpR,spotify:track:5DhuSnYKmoHrzfEtLsQHwQ,spotify:track:19mIwfp2xMC7XSxOZi9o0W,spotify:track:1l2Cw5xbQZGsLUg1TJWUBu,spotify:track:1lk5lsz89OCNyh1gCLZSxB
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer 123456abcde
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "snapshot_id" : "Miw4MDU1ZjkxNDBlMjQyNzliMjJjOWMyNTU3MmFhNjJiYjBkNDhjMmY1"
        }
  recorded_at: Wed, 24 Jul 2019 17:52:06 GMT
- request:
    method: get
    uri: https://fast-tracks-flask.herokuapp.com/api/v1/recommended?limit=5&song_ids=2MIcpZ7MBeCUEVFDBqU7Ei,4v6dF5830rtgjYr0uov248,2SpLqYLZ5GQTFTDwA4xwGS,5fUZNS9QZXOg0aYjnIjr1H,0tuE3l1TPJ9tKG4w63kgtf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"album":"Ruin Your Party","album_art_url":"https://i.scdn.co/image/a3375c73f23393a82a2db5094f50d726acd5053a","artist":"Scotty
        Sire","length":221706,"spotify_id":"4lYxJPxy3jMEADaFhtcWRV","spotify_url":"https://open.spotify.com/track/4lYxJPxy3jMEADaFhtcWRV","title":"Mister
        Glassman"},{"album":"Eviction Notice","album_art_url":"https://i.scdn.co/image/30f153df3a700534a8de28b66a0ffcb2298e0d67","artist":"Wax","length":194305,"spotify_id":"30yke04Lc0cEz1trJwoBZU","spotify_url":"https://open.spotify.com/track/30yke04Lc0cEz1trJwoBZU","title":"Coins"},{"album":"3","album_art_url":"https://i.scdn.co/image/1ba258012c93fced9e14b630bf3b264cf40b8da9","artist":"half\u2022alive","length":195047,"spotify_id":"7DwaOIkZk8qLJKGX7XTF2l","spotify_url":"https://open.spotify.com/track/7DwaOIkZk8qLJKGX7XTF2l","title":"Tip
        Toes"},{"album":"TELEVISION","album_art_url":"https://i.scdn.co/image/5ad6f5da98cb4cce553addc8b218817126495c4c","artist":"Zico","length":216514,"spotify_id":"7AeKlE60y1KOfSSiiAY3Wv","spotify_url":"https://open.spotify.com/track/7AeKlE60y1KOfSSiiAY3Wv","title":"ANTI"},{"album":"3","album_art_url":"https://i.scdn.co/image/1271916b540b0cefa30e14ec63778729e199e5d9","artist":"Jooyoung","length":239234,"spotify_id":"3dPq8oL9xLgHhMI1YXbPXk","spotify_url":"https://open.spotify.com/track/3dPq8oL9xLgHhMI1YXbPXk","title":"Wet
        (feat.Superbee)"}]

'
  recorded_at: Wed, 24 Jul 2019 17:52:07 GMT
recorded_with: VCR 5.0.0
