---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBN3pCzyhCqLxyZiIRalIvA2aN9gN9sQiPZhrl6CHa-uzErubDT7s57coRkhazXSOJuOZirZI72sN_8KsLl_TX1-9ybaZfmTqkcfOTEVOt7KHbLD9FCHczgyx2jyW6YOIwumSIlYMXSHT1XJQGuc3PV-CSl_KfHkkAhCjnpTwYATuqNmo5V-4I
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/1Jl8u1U1GtBlwocZK5LWZv"
                  },
                  "href" : "https://api.spotify.com/v1/artists/1Jl8u1U1GtBlwocZK5LWZv",
                  "id" : "1Jl8u1U1GtBlwocZK5LWZv",
                  "name" : "JJ Grey & Mofro",
                  "type" : "artist",
                  "uri" : "spotify:artist:1Jl8u1U1GtBlwocZK5LWZv"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4YzMSq9dZkNXpJYr5bPdX8"
                },
                "href" : "https://api.spotify.com/v1/albums/4YzMSq9dZkNXpJYr5bPdX8",
                "id" : "4YzMSq9dZkNXpJYr5bPdX8",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/db0769833fb13bde5b813410dc81c4e178910db3",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/bdbe8783a78d62095869d7a669bd36c88cb2b73f",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/dabf5b05f5930352176ff0cc5285553898e730cb",
                  "width" : 64
                } ],
                "name" : "Lochloosa",
                "release_date" : "2004-07-27",
                "release_date_precision" : "day",
                "total_tracks" : 13,
                "type" : "album",
                "uri" : "spotify:album:4YzMSq9dZkNXpJYr5bPdX8"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1Jl8u1U1GtBlwocZK5LWZv"
                },
                "href" : "https://api.spotify.com/v1/artists/1Jl8u1U1GtBlwocZK5LWZv",
                "id" : "1Jl8u1U1GtBlwocZK5LWZv",
                "name" : "JJ Grey & Mofro",
                "type" : "arti[...]
