---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/me/player/recently-played?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBniXrHZ-oEVfQq2vPJvFn6qg_Ugfntv1my6xfUA6VAq_cXCOzK4DISDouOZTcG9l1Y-Tce2QDpXS594evWwMZscQTGw6j5n3Eo-pXyQ8SD-P5IhLKZcuasnewiridkblgatGiia9M23s6aLY_J5QFGJA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/7mQilAy42MqNPqUFqK4Z0o"
                  },
                  "href" : "https://api.spotify.com/v1/artists/7mQilAy42MqNPqUFqK4Z0o",
                  "id" : "7mQilAy42MqNPqUFqK4Z0o",
                  "name" : "Umphrey's McGee",
                  "type" : "artist",
                  "uri" : "spotify:artist:7mQilAy42MqNPqUFqK4Z0o"
                } ],
                "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/5SM8o2h85o7XJb4UPgmGdH"
                },
                "href" : "https://api.spotify.com/v1/albums/5SM8o2h85o7XJb4UPgmGdH",
                "id" : "5SM8o2h85o7XJb4UPgmGdH",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/57386a7cc466a559aa3a2ca3c5a264fd611baa09",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/266a7cf130c452273dd645f4ea4199a8bf69e4d6",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/b5798417603348c890096f03876893e40bab3f10",
                  "width" : 64
                } ],
                "name" : "Similar Skin",
                "release_date" : "2014-06-10",
                "release_date_precision" : "day",
                "total_tracks" : 13,
                "type" : "album",
                "uri" : "spotify:album:5SM8o2h85o7XJb4UPgmGdH"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/7mQilAy42MqNPqUFqK4Z0o"
                },
                "href" : "https://api.spotify.com/v1/artists/7mQilAy42MqNPqUFqK4Z0o",
                "id" : "7mQilAy42MqNPqUFqK4Z0o",
                "name" : "Umphrey's McGee",
                "type" : "artist",
                "uri" : "spotify:artist:7mQilAy42MqNPqUFqK4Z0o"
              } ],
              "available_markets" : [ "AD", "AE", "AR", "AT", "AU", "BE", "BG", "BH", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "SA", "SE", "SG", "SK", "SV", "TH", "TN", "TR", "TW", "US", "UY", "VN", "ZA" ],
              "disc_number" : 1,
              "duration_ms" : 253147,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "QMA271400004"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/62fCkqJnHL7YgxmxZimlLI"
              },
              "href" : "https://api.spotify.com/v1/tracks/62fCkqJnHL7YgxmxZimlLI",
              "id" : "62fCkqJnHL7YgxmxZimlLI",
              "is_local" : false,
              "name" : "No Diablo",
              "popularity" : 44,
              "preview_url" : "https://p.scdn.co/mp3-preview/c791e2542c3e78ed83bddcef5101bf49fa753be4?cid=80890ce6a3434c679442d9526f2e38b8",
              "track_number" : 4,
              "type" : "track",
              "uri" : "spotify:track:62fCkqJnHL7YgxmxZimlLI"
            },
            "played_at" : "2019-07-21T00:31:08.610Z",
            "context" : null
          }, {
            "track" : {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/2ZfHMUPrxoZNDTBPHmmdhj"
                  },
                  "href" : "https://api.spotify.com/v1/artists/2ZfHMUPrxoZNDTBPHmmdhj",
                  "id" : "2ZfHMUPrxoZNDTBPHmmdhj",
                  "name" : "moe.",
                  "type" : "artist"[...]
