---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities?access_token=<STRAVA_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"1093089778178e993dcf7c8ffb5fbe2b"
      X-Ratelimit-Usage:
      - '5,45'
      Strava-Athlete-Upload-Version:
      - ad464e0405ebc17bcb01cd4150c9d3bc
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":44312407,"resource_state":1},"name":"Afternoon
        Walk","distance":540.4,"moving_time":294,"elapsed_time":523,"total_elevation_gain":2.6,"type":"Walk","id":2535456946,"external_id":"4DC58231-A998-464F-9234-2248C62D4EF3","upload_id":2691656142,"start_date":"2019-07-15T23:41:51Z","start_date_local":"2019-07-15T17:41:51Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-21600.0,"start_latlng":[39.75,-105.0],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.75,"start_longitude":-105.0,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a2535456946","summary_polyline":"_zrqF|dz_S`@k@[]R?j@J^ONM@IGWKQEK@ICOMe@Uq@?IKCAc@AOEEUGk@AQDe@b@QZMNc@p@Y\\HNRJRXb@DHRD@JVLPZlALPD@BE","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"from_accepted_tag":false,"upload_id_str":"2691656142","average_speed":1.838,"max_speed":3.3,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":1587.9,"elev_low":1585.1,"pr_count":0,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":44312407,"resource_state":1},"name":"Afternoon
        Walk","distance":0.0,"moving_time":0,"elapsed_time":0,"total_elevation_gain":0.0,"type":"Walk","id":2535272696,"external_id":"7EB3E2CB-566D-431B-BEFB-66DEF26EDF69","upload_id":2691468364,"start_date":"2019-07-15T21:59:50Z","start_date_local":"2019-07-15T15:59:50Z","timezone":"(GMT-07:00)
        America/Denver","utc_offset":-21600.0,"start_latlng":[39.75,-105.0],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.75,"start_longitude":-105.0,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a2535272696","summary_polyline":"_zrqFxdz_S","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":null,"from_accepted_tag":false,"upload_id_str":"2691468364","average_speed":0.0,"max_speed":0.0,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"elev_high":1584.9,"elev_low":1584.9,"pr_count":0,"total_photo_count":0,"has_kudoed":false}]'
  recorded_at: Sat, 20 Jul 2019 20:34:58 GMT
recorded_with: VCR 5.0.0
