---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete?access_token=<STRAVA_TEST_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"5927229b26bfd5842409995fbf5eb99e"
      X-Ratelimit-Usage:
      - '1,47'
    body:
      encoding: ASCII-8BIT
      string: '{"id":44312407,"username":null,"resource_state":2,"firstname":"William","lastname":"Homer","city":"Denver","state":"Colorado","country":"United
        States","sex":"M","premium":false,"summit":false,"created_at":"2019-07-15T19:13:01Z","updated_at":"2019-07-15T19:14:30Z","badge_type_id":0,"profile_medium":"avatar/athlete/medium.png","profile":"avatar/athlete/large.png","friend":null,"follower":null}'
  recorded_at: Thu, 18 Jul 2019 20:15:51 GMT
recorded_with: VCR 5.0.0
