<h1> <%= current_user.strava_firstname %> </h1>

<section class="top-songs">
  <div class="song">
    <ul>
      <li class="song-rank"></li>
      <li class="song-title"><a href="#"></a></li>
      <li class="song-play-count"></li>
      <li class="song-last-played"></li>
      <li class="song-power-index"></li>
    </ul>
  </div>
</section>