<h1>Welcome!</h1>

<%= link_to "Connect to Spotify",
"https://accounts.spotify.com/authorize?client_id=80890ce6a3434c679442d9526f2e38b8&response_type=code&redirect_uri=http://localhost:3000/auth/spotify/callback" %>
