<section class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="p-md-5">
      <h1>FastTracks</h1>
    </div>
    <div class="p-md-1">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt euismod sagittis. 
      Quisque fringilla, nibh a viverra consequat, lorem quam pulvinar lectus, sit amet iaculis diam lectus non odio. 
      In nisl velit, molestie nec metus eget, aliquet tempor nunc. Duis tempor, tellus quis fringilla tempus, dolor est 
      posuere velit, sed consectetur sapien mi at leo. Maecenas quam ante, mollis et dolor sed, sollicitudin euismod eros.</p>
    </div>
    <div class="p-md-5">
      <%= button_to 'Login with Strava', '/auth/strava', method: :get, class: 'btn btn-outline-success' %>
    </div>
  </div>
  <div class="col-md-2"></div>
</section>


<section class="row">

  
</section>
