<section class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 text-center">
    <div class="p-mb-5">
      <h1 class="title">FastTracks</h1>
    </div>
    <div class="p-md-1">
      <p>Combine data from Strava and Spotify to deliver insights and music recommendations based on real performance.
       See what gets you moving, and build a playlist to help you hit a new PR on your next ride!</p>
    </div>
    <div class="p-md-5">
      <%= button_to 'Login with Strava', '/auth/strava', method: :get, class: 'btn btn-success btn-lg' %>
    </div>
  </div>
  <div class="col-md-2"></div>
</section>

<style>
	body {
	    font-size: 1.2em;
	    color: white;
	    padding-top: 170px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5), rgba(0,0,0,.65)), url(<%= asset_path 'bike_scene.jpg' %>);
	}
</style>
