/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#spot-conn-link {
  background-color: #f44336;
  color: black;
  border-radius: 1rem;
  padding: 14px 25px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
}


canvas {
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
}

.pr-chart, h3 {
  color: #FF0000
}
