html, body{
	min-height:100%;
}
canvas {
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
}
#pending-chart img {
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
}
#pending-chart div {
	opacity: 0.25
}
#pending-chart p {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
	 text-align: center;
}
body {
	font-family: 'Muli', sans-serif;
}
.title {
	font-family: 'Faster One', cursive;
	font-size: 6.5vw;
	letter-spacing: 6px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.recommended {
	width: 75%;
	margin: auto;
}
nav img {
	width: 4em;
}
.main-content {
	margin-top: 90px
}
.album-art {
	width: 100%;
}
.nav-title {
	font-family: 'Faster One', cursive;
	color: #ff0000;
	letter-spacing: 6px;
	text-shadow: -1px 0 #ffd600, 0 1px #ffd600, 1px 0 #ffd600, 0 -1px #ffd600;
}
#row {
	display: flex;
}
.recommended-song {
	height: 100px;
}
.add-single-form {
	width: 23%;
	height: 80%;
}
.add-single-btn{
	width: 100%;
	height: 100%;
	margin-top: -72px;
}
